--allman false
--binarygrouping none
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--guardelse same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header "\nChatLayout\n{file}\nhttps://github.com/ekazaev/ChatLayout\n\nCreated by Eugene Kazaev in 2020-{year}.\nDistributed under the MIT license.\n\nBecome a sponsor:\nhttps://github.com/sponsors/ekazaev\n"
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--maxwidth none
--nospaceoperators ...,..<,..>
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--selfrequired
--semicolons inline
--stripunusedargs closure-only
--tabwidth unspecified
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--xcodeindentation disabled
--modifierorder public,override
--nevertrailing map, flatMap, compactMap
--funcattributes prev-line
--typeattributes prev-line
--disable wrapMultilineStatementBraces, preferKeyPath, trailingclosures, preferForLoop,conditionalAssignment
--enable isEmpty,wrapConditionalBodies,noExplicitOwnership,wrapEnumCases,wrapSwitchCases,sortSwitchCases,wrapAttributes
--exclude Pods,docs,Example/Pods,RecyclerView/Classes/Utils/Stolen
